<section class="task-section">
  <section class="task-view-section">
    <h2 class="task-title">{{task}}</h2>
    <p>
      <b>Datum och tid: </b>
      {{created}}
    </p>
  </section>
  <section class="task-section-buttons">
    <a class="task-buttons" href="/">Tillbaka</a>
    <a class="task-buttons" href="/uppgift/{{id}}/redigera">Redigera</a>
    <a class="task-buttons" href="/uppgift/{{id}}/ta-bort">Ta bort</a>
  </section>
</section>

<div class="space-div">

</div>